
/* Centre & set font for body*/
body {
    margin: 0;  
    font-family: Georgia, serif;
	font-size: 1.0em;
}

/* parent container, 6 column grid, margin added and page width set */
/* colour added */
.grid-container {
    display: grid;
    grid-template-columns: 16% 16% 16% 17% 17% 17%;
    margin: auto;
    width: 90%;
    background-color: white;
}

/* child container logo spans column 1 */
/* colour added */
.logo {
    grid-column: 1/2;
    background-color: #D2C4BC;

}

/* logo image centered within logo container */
img {
    display: block;
    margin: auto;
    width: 80%;

}

/* navbar container spans columns 2-6 */
/* colour added */
.navbar {

    grid-column: 2/7;
    background-color: #D2C4BC;


}

/* Rule to display navbar horizontally */
/* Margin added to create horizontal space between menu items*/
li {
    display: inline-block;
    margin-right: 7em;

}

/* Navigation links size and colour set*/
/* Navigation links unterlines removed using text-decoration=none*/
nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;

}

/* center navbar list within div and remove list item marker */
/* padding added to centre navbar list horizontally*/
ul {

    list-style-type: none;
    text-align: center;
    padding-top: 1em;
}

/* heading 1 container spans columns 1-6 */
/* text centered horizontally using text-align */
/* padding added to top in order to centre the text vertically */
/* text colour & background colours added */
/* border added beneath h1 text */
.heading1 {
    background-color: #E2E2D6;
    grid-column: 1/7;
    text-align: center;
    color: #B6B3B4;
    padding-top: 1em;
    border-bottom: 1px solid #B6B3B4;
}

/* ------- Top Border added top ------- */
/* heading h2 container spans columns 1-6 */
.headingOil {
    background-color: #E2E2D6;
    grid-column: 1/7;
    text-align: center;
    color: #B6B3B4; 
    border-top: 1px solid #B6B3B4;
}

/* each image spans 2 columns & used padding to position them */
.paintingOne {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 1/3;
    padding-bottom: 2em;
}

.paintingTwo {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 3/5;
    padding-bottom: 2em;
}

.paintingThree {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 5/7;
    padding-bottom: 2em;
}

/* ------- Top Border added ------- */
/* heading h2 container spans columns 1-6 */
.headingLithograph {
    background-color: #E2E2D6;
    grid-column: 1/7;
    text-align: center;
    color: #B6B3B4; 
    border-top: 1px solid #E2E2D6;

}

/* each image spans 2 columns & used padding to position them */
.paintingFour {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 1/3;
    padding-bottom: 2em;
}

.paintingFive {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 3/5;
    padding-bottom: 2em;
}

.paintingSix {
    background-color: #E2E2D6;
    padding-right: 3em;
    padding-left: 3em;
    grid-column: 5/7;
    padding-bottom: 2em;
}

/* text centered horizontally above and below images */
h3,article p {
    text-align: center;
}

/* copyright container spans columns 1-2 */
/* text centered horizontally using text-align */
/* text colour & background colours added */
.copyright {
    background-color: #D2C4BC;
    grid-column: 1/3;
    text-align: center;
    color: white;

}

/* search container spans columns 3-4 */
/* text centered horizontally using text-align */
/* text colour & background colours added */
/* padding added to top in order to centre the text vertically */
.search {
    background-color: #D2C4BC;
    grid-column: 3/5;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
}

/* display footer search paragraph (block-level) as inline */
/* text colour added */
.search p {
    display: inline;
    color: white;
    padding-right: 10px;
}

/* media container spans columns 4-6 */
/* text centered horizontally using text-align */
/* background colours added */
/* padding added to top in order to centre the text vertically */
.media {
    background-color: #D2C4BC;
    grid-column: 5/7;
    text-align: center;
    padding-top: 6px;
}

/* font awesome icons */
/* font size and icon width increased to improved usability */
/* text centered horizontally using text-align */
/* aligned vertically using margin-top */
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 6px;
}

/* hover effect for icons */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each icon */

/* Facebook */
.fa-facebook {
    background-color: #96BBAA;
    color: white;
}

/* Twitter */
.fa-twitter {
    background-color: #96BBAA;
    color: white;
}

/* Twitter */
.fa-pinterest {
    background-color: #96BBAA;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background-color: #96BBAA;
    color: white;
}
